.Rproj.user
.Rhistory
.RData
.Ruserdata
dioxdistfish.Rproj
Explanatory_power_of_PCB_on_TEQ.png
Predicted PCDDF TEQ.png
Predicted Total TEQ.png
PCDDF TEQ concentration distribution.png
Total TEQ concentration distribution.png
fig1adata.csv
fig1bdata.csv
fig2adata.csv
fig2bdata.csv
